<a href="https://colab.research.google.com/github/Nilavan/Quora-question-pairs/blob/main/Feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('train.csv')
df.fillna('',inplace=True)

In [25]:
# https://stackoverflow.com/questions/54541962/how-to-add-calculated-column-to-dataframe-counting-frequency-in-column-in-pandas

df['freq_qid1'] = df.groupby('qid1').qid1.transform('count')
df['freq_qid2'] = df.groupby('qid2').qid2.transform('count')

# https://intellipaat.com/community/42131/python-pandas-find-length-of-string-in-dataframe

df['q1len'] = df['question1'].str.len()
df['q2len'] = df['question2'].str.len()

# https://stackoverflow.com/questions/37483470/how-to-calculate-number-of-words-in-a-string-in-dataframe

df['q1_n_words'] = df['question1'].str.split().str.len()
df['q1_n_words'] = df['question1'].str.split().str.len()

In [32]:
df

,id,qid1,qid2,question1,question2,is_duplicate,freq_qid1,freq_qid2,q1len,q2len,q1_n_words
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,1,1,66,57,14
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,4,1,51,88,8
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,1,1,73,59,14
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,1,1,50,65,11
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,3,1,76,39,13
...,...,...,...,...,...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,2,2,85,79,14
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1,12,1,41,42,8
404287,404287,537928,537929,What is one coin?,What's this coin?,0,1,1,17,17,4
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,1,1,94,127,17
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,1,1,37,45,8